* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(200, 227, 241);
}

h1 {
    background-color: rgb(20, 20, 146);
    color: rgb(127, 203, 251);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    align-items: center;
    padding: 10px 400px;
}

.inbtn {
    background-color: rgb(95, 152, 205);
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    ;
}



.enterbtn {
    background-color: rgb(127, 203, 251);
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    font-size: 28px;
    transition: all 0.3s;
    align-items: center;
}

.enterbtn:hover {

    box-shadow: 0 0 12px rgb(19, 24, 79);
}

.inbtn input {
    border: none;
    padding-left: 20px;
    width: 40%;
    height: 58px;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;

}

.inbtn input:hover {
    outline: 1px solid rgb(0, 136, 255);
    box-shadow: 0 0 12px rgb(0, 191, 255);
}

.list {
    list-style: none;
    padding-left: 60px;
    border: none;
    border-radius: 5px;

}

.hidden {
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.51);
    background-color: white;
    width: 40%;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

.done {
    border: none;
    text-decoration: line-through;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.51);
    background-color: rgba(1, 255, 17, 0.534);
    width: 40%;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    
    

}

.buttons input {
    width: 598.4px;
    height: 58px;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    outline: 2px solid red;
    transition: all 0.3s ease-in-out;
    
}

.buttons input:hover {
    background-color: rgba(215, 102, 102, 0.87);
    color: white;
}

.buttons button {
    background-color: rgb(127, 203, 251);
    padding: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;    
}

.deletebtn {
    transition: all 0.3s ease-in-out;
}

.deletebtn:hover {
    background-color: red;
    color: white;
}

.editbtn {
    transition: all 0.3s ease-in-out;
}

.editbtn:hover {
    background-color: rgb(0, 98, 255);
    color: white;
}

.savebtn {
    transition: all 0.3s ease-in-out;
}

.savebtn:hover {
    background-color: rgb(0, 180, 50);
    color: white;
}

.cmpltdbtn {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.cmpltdbtn button {
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    /* background-color: darkorange; */
}

.completedbtn {
    background-color: rgb(13, 164, 23);
}

.uncompletedbtn {
    background-color: darkorange;
}

.completedlist {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 430px;
    justify-content: flex-start;
    list-style: none;
    margin-top: 15px;
    
    
}
.completedlist li {
    background-color: rgb(208, 248, 254);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.51);
    font-weight: 600px;
    width: 55%
}


